<!DOCTYPE html>
<html>
<head>
	<title>
	Wiki - Edit
		
	</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


<style type="text/css">
	input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navbar-nav, .nav > li > a {
  padding: 8px 8px;
  margin-right:10px;
}

.note-editor, .note-frame {
    border: none !important;
}

.navbar-header {
    padding-top: 5px;
}
</style>
</head>


<body>





<nav style="margin:0px;margin-bottom: 0px; padding: 0px;background-color: white" class="navbar navbar-default">

<div class="container-fluid" style="margin">
 


    <div class="navbar-header" style="margin:10">

    <a href="/wiki/home/{{project.uid}}"><img src="https://i.imgur.com/azmQcUA.png" width="100" style="padding: 0; margin-left: 15; margin-top: 20; "></a>
     
    </div>




   <ul  class="nav navbar-nav " style="margin-left: 2%">

 <li><a id="cc" href="#"  value='asdasd'  data-toggle="modal" data-target="#choose_category" >Choose Category</a></li>
   
      
    </ul>






    <ul style="margin-left: 50%; " class="nav navbar-nav  ">

 <li><a href="#"  class="btn btn-default" > Publish Changes</a></li>
    <li> <a href="/wiki/home/{{project.uid}}"  class="btn btn-default"  > Discard Changes</a></li>
      
    </ul>







</div>
</nav>

<br><br>


<div class="container" style="padding: 25; width: 60%">

<input type="text"   style=" border: none; font-size: 300%" value="{{page.current_version.title}}" >

<br><br>


  <div  id="summernote">{{page.current_version.content}}</div>
</div>











  <script>
    $(document).ready(function() {

       
$('#summernote').summernote({

      popover: {
    air: [
    ['style', ['style']],
    ['font', ['strikethrough']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['table', ['table']],
    ['hr', ['hr']],
    ['ol', ['ol']],
    ['ul', ['ul']],
    ]
  },

    airMode:false,




  
  height: 550,                 // set editor height
  minHeight: null,             // set minimum height of editor
  maxHeight: null, 
  placeholder: 'write here...'           // set maximum height of editor
                   // set focus to editable area after initializing summernote
});



$('.note-resizebar').remove();

       
    });
  </script>







<script type="text/javascript">
    function select_category() {
        $('#choose_category').modal('toggle');
        var selected_category = $('#category :selected').text();
        var selected_category_uid = $('#category :selected').val();
        
        $('#cc').text(selected_category);
        $('#cc').attr('value', selected_category_uid ) 
        


    }
</script>









<!-- Modal -->
<div id="choose_category" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose Category</h4>
      </div>
      <div class="modal-body">

      <br>
        

        <select id="category" class="form-control">

        {% for c in project.categories.all %}

        <option value="{{c.uid}}">{{c.title}}</option>

        {% endfor %}
            

        </select>

<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="select_category()">Select</button>
      </div>
        
    </div>

  </div>
</div>




</body>
</html>




