<!DOCTYPE html>
<html>
<head>
	<title>
	Wiki - Edit
		
	</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


<style type="text/css">
	input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navbar-nav, .nav > li > a {
  padding: 8px 8px;
  margin-right:10px;
}

.note-editor, .note-frame {
    border: none !important;
}

.navbar-header {
    padding-top: 5px;
}
</style>
</head>


<body>




<nav style="margin:0px;margin-bottom: 0px; padding: 5px;background-color: white" class="navbar navbar-default">

<div class="container-fluid" style="margin">
 


    <div class="navbar-header" style="margin:10">

    <a href="/wiki/home/{{project.uid}}"><img src="https://i.imgur.com/azmQcUA.png" width="100" style="padding: 0; margin-left: 15; margin-top: 20; "></a>
     
    </div>






    <ul style="margin-left: 60%; padding: 20 " class="nav navbar-nav ">

  <li style="margin-right: 10"><a href="#"  class="btn btn-default" > Publish Changes</a></li>

      <li> <a href="/wiki/home/{{project.uid}}"  class="btn btn-default"  > Discard Changes</a></li>
      
    </ul>









</div>
</nav>

<br><br>


<div class="container" style="padding: 25; width: 60%">

<input type="text"   style=" border: none; font-size: 300%" value="{{page.current_version.title}}" >

<br><br>


  <div  id="summernote">{{page.current_version.content}}</div>
</div>











  <script>
    $(document).ready(function() {

       
$('#summernote').summernote({

      popover: {
    air: [
    ['style', ['style']],
    ['font', ['strikethrough']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['table', ['table']],
    ['hr', ['hr']],
    ['ol', ['ol']],
    ['ul', ['ul']],
    ]
  },

    airMode:false,




  
  height: 550,                 // set editor height
  minHeight: null,             // set minimum height of editor
  maxHeight: null, 
  placeholder: 'write here...'           // set maximum height of editor
                   // set focus to editable area after initializing summernote
});



$('.note-resizebar').remove();

       
    });
  </script>


</body>
</html>




