<!DOCTYPE html>
<html>
<head>
	<title>
	Wiki - Edit
		
	</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
	input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
</style>
</head>


<body>




<nav style="margin:0px;margin-bottom: 0px; padding: 10px;background-color: white" class="navbar navbar-default">

<div class="container-fluid" style="margin">
 


    <div class="navbar-header" style="margin:10">

    <a href="/wiki/home/{{project.uid}}"><img src="https://i.imgur.com/azmQcUA.png" width="100" style="padding: 0; margin-left: 15; margin-top: 20; "></a>
     
    </div>






    <div style="margin-left: 80%; " class="nav navbar-nav ">
  <a href="#"  class="btn btn-default" > Publish Changes</a>
      
    </div>







</div>
</nav>

<br><br>


<div class="container" style="padding: 25; width: 60%">

<input type="text"   style=" border: none; font-size: 300%" value="{{page.current_version.title}}" >

<br><br>
<textarea  style="font-size: 130%; border: none; width: 100%;" rows=25  >{{page.current_version.content}}</textarea>
</div>


</body>
</html>




