{% extends 'project_base_scrum.html' %}

{% block content2 %}



<div class="container-fluid" style="padding: 70; padding-top: 25; overflow: auto; height: 100%">
<br>
<div class="panel panel-default" style="padding: 25">


<h4>Wiki</h4>

<span style="font-size: 120%; color: grey; opacity: 0.8" >
{{categories.count}} Categories, {{pages_count}} Pages</span>

<!--
<span class="pull-right"><a href="/wiki/page/create/{{project.uid}}" class="btn btn-default">Create</a></span>

-->


<span class="dropdown pull-right" >
    <button class="btn btn-default dropdown-toggle" id="menu1" type="button" data-toggle="dropdown" style="border: none; background-color: #f1f1f1">
    Create</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a href="/wiki/page/create/{{project.uid}}">New Page</a></li>
      <li role="presentation"><a data-toggle="modal" data-target="#create_category" href="">New Category</a></li>
        
    </ul>
  </span>


<br><br>









{% for c in categories %}



<div class="panel panel-default" style="padding: 40">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> {{c.title}}</span><span style="color: grey; opacity: 0.6">  {{ c.pages.all.count }} Pages </span><!-- <span class="pull-right btn btn-default">New</span>-->



<div class="container-fluid" style="margin-left: 15" >

{% for p in c.pages.all %}

{% if p.published is True %}

<br>

<div class="row" style="font-size: 110%">
<i class="fa fa-file-o"></i><a style="color: black; text-decoration: none" href="/wiki/page/{{p.uid}}/"> {{p.current_version.title}}</a>
</div>

{% endif %}


{% endfor %}



</div> 


</div>



{% endfor %}








<div class="panel panel-default" style="padding: 40">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> Other Pages</span><span style="color: grey; opacity: 0.6">  {{ other_pages.count }} Pages </span><!-- <span class="pull-right btn btn-default">New</span>-->



<div class="container-fluid" style="margin-left: 15" >

{% for p in other_pages %}

<br>

<div class="row" style="font-size: 110%">
<i class="fa fa-file-o"></i><a style="color: black; text-decoration: none" href="/wiki/page/{{p.uid}}/"> {{p.current_version.title}}</a>
</div>


{% endfor %}



</div> 


</div>








</div>


</div>







<!-- Modal -->
<div id="create_category" class="modal fade" role="dialog">
  <div class="modal-dialog">

   <form action="/wiki/category/create/{{project.uid}}/" method="POST">
   {% csrf_token %}

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Category</h4>
      </div>
      <div class="modal-body">

     

        <input type="text" class="form-control" name="title" placeholder="Name of Category">
      </div>
      <div class="modal-footer">
        <button  class="btn btn-default" type="submit" >Create</button>
      </div>
    </div>

    </form>

  </div>
</div>

{% endblock %}