{% extends 'project_base_scrum.html' %}

{% block content2 %}


<div class="container panel panel-default" style="padding: 25">

<h4>Wiki</h4>

<span style="font-size: 120%; color: grey">
{{categories.count}} Categories, 25 Pages</span><br><br>










{% for c in categories %}



<div class="panel panel-default" style="padding: 20">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> {{c.title}}</span><span style="color: grey"> | {{ c.pages.all.count }} Pages </span> <span class="pull-right btn btn-default">New</span>

<hr>

<div class="container-fluid" >

{% for p in c.pages.all %}

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> {{p.current_version.title}}
</div>
<hr>

{% endfor %}



</div> 


</div>

{% endfor %}







</div>

{% endblock %}