{% extends 'project_base_scrum.html' %}

{% block content2 %}


<div class="container panel panel-default" style="padding: 25">

<h4>Wiki</h4>

<span style="font-size: 120%; color: grey">
5 Categories, 25 Pages</span><br><br>








<div class="panel panel-default" style="padding: 20">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> Engineering </span><span style="color: grey"> | 5 Pages, 1 Folder</span> <span class="pull-right btn btn-default">New</span>

<hr>

<div class="container" >

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> New Page
</div>
<hr>

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> Product
</div>


</div>


</div>







<div class="panel panel-default" style="padding: 20">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> Engineering </span><span style="color: grey"> | 5 Pages, 1 Folder</span> <span class="pull-right btn btn-default">New</span>

<hr>

<div class="container" >

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> New Page
</div>
<hr>

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> Product
</div>


</div>


</div>



<div class="panel panel-default" style="padding: 20">


<span style="font-size: 125%"><i class="fa fa-folder-o"></i> Engineering </span><span style="color: grey"> | 5 Pages, 1 Folder</span> <span class="pull-right btn btn-default">New</span>

<hr>

<div class="container" >

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> New Page
</div>
<hr>

<div class="row" style="font-size: 110%">
<i class="fa fa-file-text-o"></i> Product
</div>


</div>


</div>




</div>

{% endblock %}