{% extends 'project_base_scrum.html' %}

{% block content2 %}


<br>
<div class="container-fluid" style="overflow: scroll; height: 100%">

<span style="opacity: 0.5">
wiki > {{page.category.title}} > Versions</span>

<div class="row">



<div class="col-md-2">

<div class="container-fluid panel panel-default" style="padding: 25; font-size: 110%">
<h4>{{page.category.title}}</h4>

{% for p in page.category.pages.all %}


{% if p.uid == page.uid %}

<b><a style="color: black; font-weight: 200%" href="/wiki/page/{{p.uid}}"><i class="fa fa-file-o"></i>  {{p.current_version.title}}</a></b><br>

{% else %}

<a style="color: grey" href="/wiki/page/{{p.uid}}"><i class="fa fa-file-o"></i>  {{p.current_version.title}}</a><br>

{% endif %}
{% endfor %}

</div>


</div>









<div class="col-md-10">


<div class="container-fluid panel panel-default" style="padding: 25">


<span style="font-size: 170%; margin-right: 20">Versions</span> <span>{{page.current_version.title}} </span>

<br><hr>

<div class="row">

<div class="col-md-6">
<b>Page Version</b>
</div>

<div class="col-md-3">
<b>Author</b>
</div>


<div class="col-md-3">
<b>Created</b>
</div>


</div>



{% for v in page.versions.all %}

<hr>

<div class="row">

<div class="col-md-6">
{{v.uid}}
</div>

<div class="col-md-3">
{{v.author}}
</div>



<div class="col-md-3">
{{v.created|timesince}}
</div>


</div>


{% endfor %}







</div>

</div><!-- for col-md -10 -->








</div> <!-- row-->



<br><br><br><br><br><br>
</div>
<br><br><br>



{% endblock %}