



<html>
<head>
    <title>Enpointer: Issue Tracker for Modern Teams</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</script>



</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Enpointer</a>
    </div>




     
    <ul class="nav navbar-nav navbar-right">
 <li ><a href="/features">Features</a></li> 
<li ><a href="/pricing">Pricing</a></li>


<li style="margin-top: 15px;" > 
  <div class="dropdown">
    <a style="color: grey; cursor: pointer;"  data-toggle="dropdown">Resources
    </a>
    <ul class="dropdown-menu">
      <li><a href="/blog">Blog</a></li>
      
      <li><a href="#">Support</a></li>

    </ul>
  </div>

</li>
<li ><a href="/signup">Signup</a></li>
<li ><a href="/login">Login</a></li>


    </ul>




  </div>
</nav>



{% block content %}

{% endblock content %}




<div style="padding-left:50px; padding-top: 50px; padding-bottom: 50px; background-color: #000000; " class="container-fluid footer" >

<div style="color: white;" class="row">


<div   class="col-md-2">
<h3 > Product </h3>
<a style="color: white;"  href="/features/home">Featues</a> <br>
<a style="color: white;" href="/pricing">Pricing</a> <br> 
<!--<a style="color: white;" href="/why">Why Enpointer?</a> <br> 
<a style="color: white;" href="/product_philosophy">Product Evolution</a>--> <br> 
</div>

<div class="col-md-2">
<h3>Top Features</h3>
<a style="color: white" href="/features/workflow_management/">Flexible Workflow Management</a> <br>
Fully Customizable Board Layouts <br>
Sprint Planning <br>
Labels and Epics <br>
Release Version Management<br>
Customizable Issue Screens <br>
Transition screens <br>
Customizable Issue Types <br>
Time Tracking<br>
</div>




<div class="col-md-2">
<h3> Resources</h3>

<a style="color: white" href="/support/home">Support</a> <br>
<a style="color: white" href="/knowledge/home">Knowledge Base</a> <br>
<a style="color: white" href="/blog">Blog</a> <br>
<!--
<a style="color: white" href="/case_studies">Case Studies</a> -->

</div>



<div class="col-md-2">
<h3> Use Cases </h3>
<a style="color: white" href="/use_cases/agile_development/">Agile/Scrum Software Development</a> <br>
Project Management <br>
Bug Tracking<br>
Business Workflow Management<br>
Helpdesk/Support<br>
Design Sprints<br>
<a style="color: white" href="/use_cases/all">More use cases</a> 
</div>


<div class="col-md-2">
<h3> Company </h3>
<a style="color: white;" href="/about">About Us</a><br>
<!--
<a style="color: white;" href="/design_philosophy">Design Philosophy</a><br>
<a style="color: white;" href="/company_principles">Company Principles</a><br>
-->


</div>

<div class="col-md-2">
<h3> Contact Us </h3>

For Support :<br>
support@email.com<br><br>

For Sales :<br>
support@email.com<br>

</div>


<br><br><br>
</div>


</div>








<div style="padding-left: 50px; " class="container-fluid footer" >

<div class="row">
<br>
<div class="col-md-10">
Copyright Enpointer 2018. All Rights Reserved.  <a  href="/privacy_policy">Terms of Service</a> |
<a href="/terms_of_use">Privacy Policy </a> | <a href="/security">Security </a>

</div>

<div class="col-md-2">
<i style="font-size: 18px;" class="fa fa-twitter" aria-hidden="true"></i>
<i style="font-size: 18px;" class="fa fa-facebook" aria-hidden="true"></i>
<i style="font-size: 18px;" class="fa fa-linkedin" aria-hidden="true"></i>

</div>

<br><br>
</div>


</div>


</body>


</html>