
{% extends 'website/index_base.html' %}
{% block content %}

<div class="container-fluid">
<div class="row">

<div class="col-md-2">

</div>


<div class="col-md-8" style="text-align: center;">

<a href="/blog" style="text-align: left !important; color: grey"> Back to Blog Home </a>
<h1> {{blog.title}} </h1>

{{blog.author }}| {{blog.category}} | {{blog.created|timesince}} <br><br>

<img src="{{blog.featured_image.url}}" width="100%"> <br><br>


<div style=" font-size: 150%; word-spacing: 1px;line-height: 1.8; text-align: left" >
{{blog.content|safe}}
</div>





<div style="padding: 10px; " class="panel panel-default" >

<h4>Join 1000+ People Who Subscribe to Weekly Blog Updates</h4>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://enpointer.us17.list-manage.com/subscribe/post?u=477bb79a0fd8c4c3d3ce5b6a5&amp;id=fcf37fc18e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address, it will be sure as hell worth it." required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_477bb79a0fd8c4c3d3ce5b6a5_fcf37fc18e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

</div>
<a href="/blog" style="text-align: left !important; color: grey"> Back to Blog Home </a>


<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://enpointer-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            


</div> <!-- for col 8 -->

<div class="col-md-2">

</div>

</div>


</div>

<br><br><br>
{% endblock %}