<html>
<head>
    <title>{{title}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- adding later -->

 

  



  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>










<style>

.container-fluid {

  padding:0px;
  margin:0px;

  padding-left:10px;
  padding-right: 10px;


}




.scrolly {

overflow: auto !important;
overflow-y: hidden !important;
}
.testimonial-group {
  overflow-x: auto;
  white-space: nowrap;
  height:85%;
  
}
.testimonial-group > .row > .col-md-4 {
  display: inline-block;
  float: none;
  vertical-align:top;
  margin:5px;
  
}


.connectedSortable {

	min-height: 20px;
}


.connectedSortable2, .connectedSortable3 {

	min-height: 20px;
}


</style>




<!-- stuff for drag and drop in board  -->







  <script>

         $(function() {
            $({{x|safe}}).sortable({
              connectWith: ".connectedSortable",
              
               update: function(event, ui) {
                  var productOrder = $(this).sortable('toArray').toString();
                  
                  
           
                  





 

               },

               receive: function(event, ui) {
                  
                   
                   var x = String($(ui.item).attr('id'));
                   var y = String(this.id);






$.ajax({
     type: "POST",
     data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
     url: '/check_transition_screen/{{project.uid}}/'+ x + '/' + y + '/',
     success: function(response){

         

         if (response == 'No Screen') {
         	var url = '/transition_issue_status/{{project.uid}}/'+ x + '/' + y + '/';
         	

         	     	$.ajax({url: url, success: function(result){
        
    }});
         	

         }

         else {

         	var url = '/show_transition_screen/{{project.uid}}/'+ x + '/' + y + '/'

         	window.location.replace(url);

         }


     }
});





               },


            });
         });





      </script>




<!-- for plnanning -->

  <script> 

         $(function() {
            $({{y|safe}}).sortable({
              connectWith: ".connectedSortable2",

               
               items: ".content",
               scroll: true,


              
               update: function(event, ui) {
                  var productOrder = $(this).sortable('toArray').toString();
                  
                  
                  
           
                  





 

               },

               receive: function(event, ui) {
                  
                   
                   var x = String($(ui.item).attr('id'));
                   var y = String(this.id);






$.ajax({
     type: "POST",
     data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
     url: '/transition_issue_plan/{{project.uid}}/'+ x + '/' + y + '/',
     success: function(response){

         

         	var url = '/transition_issue_plan/{{project.uid}}/'+ x + '/' + y + '/';
         	

         	$.ajax({url: url, success: function(result){
        
    }});
         	

   




     }
});





               },


            });
         });





      </script>



</head>

<body style=" background-color: #f1f1f1">




    <!-- Event Modal -->
<div id="myModal1" class="modal">
    <div class="modal-dialog modal-lg">
        <div id="modal-content" class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Event</h4>
                </div>
                <div class="modal-body">
                    <p>Loading...123</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Event modal -->



<!-- Modal -->
<div id="create_issue_types" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

     
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Issue</h4>
      </div>




      <div class="modal-body">
        

     

           <div class="form-group">Issue Type :
    

       {% for it in project.issuetypes.all %}

      <!--<a href="/show_create_issue_screen/{{project.uid}}/{{it.uid}}/">{{it.title}}</a>-->
<a onclick="$('.modal').modal('hide');" data-toggle="modal" data-target="#myModal1" href="/show_create_issue_screen/{{project.uid}}/{{it.uid}}/">{{it.title}}</a>
       {% endfor %}
       



        </div>













</form>





              </div>



    
    </div>

  </div>
</div>

<!-- modal content -->


























<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Issue</h4>
      </div>



      <div class="modal-body">
        

      <form action="/issue/create/{{project.uid}}/100/" method="post">
      {% csrf_token %}
        <div class="form-group">
          <input   type="text" class="form-control" name="title" placeholder="title">
        </div>

        <div class="form-group">
       <input type="text" class="form-control" name="description" placeholder="description">
        </div>

           <div class="form-group">Issue Type :
       <select name="issue_type"> 

       {% for it in project.issuetypes.all %}

       <option value="{{it.uid}}">{{it.title}}</option>

       {% endfor %}
       


       </select>
        </div>



              <div class="form-group">Epic :
       <select name="epic"> 

        <option value=None>None</option>

       {% for e in epics %}

       <option value={{e.uid}}>{{e.title}}</option>

       {% endfor %}


       </select>
        </div>




              <div class="form-group">Version :
       <select name="version"> 

        <option value=None>None</option>

       {% for v in versions %}

       <option value={{v.uid}}>{{v.title}}</option>

       {% endfor %}


       </select>
        </div>



                   <div class="form-group">Priority :
       <select name="priority"> 

      

       {% for p in project.project_prioritys.all %}

       <option value={{p.uid}}>{{p.title}}</option>

       {% endfor %}


       </select>
        </div>




          <div class="form-group">
          <input  type="text" class="form-control" name="project" readonly value={{project.title}}>
        </div>




<!--two ways 

          <div class="form-group">
          <input {{a}} {{a}}  type="text" class="form-control" name="project" readonly value={{project.title}}>
        </div>

        -->


        <!--

        for f in fields 

        f.name f.type f.optioms if required 


        endfor




        -->
   

     




       <button class="btn btn-bold btn-default" type="submit">create</button>

</form>





              </div>



    
    </div>

  </div>
</div>

<!-- modal content -->






<div class="container-fluid" style=" background-color: #f1f1f1; padding-left: 0; padding-right: 0">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
  <div class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% block content %}{% endblock content %}

</div>





      <script type="">


//when modal opens
$('.modal').on('shown.bs.modal', function () {
  console.log('hiesdsds');
})
</script>

  <script>
    $(document).ready(function() {
        $('#summernote').summernote({
  height: 100 ,
    minHeight: 100,             // set minimum height of editor
  maxHeight: null,              // set editor heig                // set focus to editable area after initializing summernote
});
    });
  </script>
</body>


</html>