p<div   class=" listwrapper      " >


<div style="background-color: #E2E4E6;" class="listcontent  panel panel-default  connectedSortable   ">



<div id="5862c9f5-065b-4b9b-ae66-e9f354571020" basically this is uid of status| class="list-cards connectedSortable   " >
{% for i in Resolved %}



<!-- card html -->


<!-- /card html -->


{% endfor %}

</div> <!-- list cards -->

</div> <!-- listcontent -->

</div> <!-- list wrapper --> 


this is what needs to be added while creating layout for board

there has to be board_layout field in the project. 




first i should be able to write the layout at the backend from admin...



there might be some issue with sending the html first and then sending the other data...

if this doesnt work in single request, then we would have to work out a solution in which python first sends the layout , then on its success an ajax call is made to get rest of data ...but problem is that we;ll be getting it in ewither json or javascript objects...

it is super interesting problem to solve. 