

{% if layout.layout_type == 'none' %}

<h3>{{layout.title}}</h3>


<div   class=" listwrapper      " >


<div style="background-color: #E2E4E6;" class="listcontent  panel panel-default  connectedSortable   ">



<div id={{layout.status.uid}}  class="list-cards connectedSortable   " >



{% for i in layout.status.issues.all %}

{% if i.sprint == sprint %}

<!-- card html -->

<!-- card.................................................................................-->


<div  id="{{i.uid}}" style="padding:10px; overflow:auto; white-space: normal; " class="list-card-details panel panel-default content ">

    {{i.issue_type.title}}     |    



 Priorirty :

  <span class="badge"  style="background-color:{{i.priority.color}};">{{i.priority.title}}</span>




 <div class="pull-right">

{% if i.issue_id %}
{{i.issue_id}}
{% endif %}

    <span style="background-color: grey;" class="badge">{{i.fix_version.title}}</span>

    <span class="label label-primary">{{i.epic.title}}</span>
</div>





    <script type="text/javascript">
  function myfunc(x) {


                        
  
          
    $( "#modal-content" ).load(x);
    
    
  }
     </script>



      <a id="hocus{{i.uid}}" onclick="myfunc($(this).attr('href'))"  data-target="#myModal1" data-toggle="modal"  href="/show_view_issue_screen/{{project.uid}}/{{i.uid}}/"><p style="font-size: 120%; margin-top: 10px; color: #333333;">{% if i.resolved == True %} <strike class="x" style="font-weight: lighter;"> {% endif %}{{i.title}}{% if i.resolved == True %} </strike>  {% endif %}</p></a> 


     

     {% for l in i.label.all %}


 <span class="label label-warning">{{l.title}}</span>

   {% endfor %} 


 <!--
 <form action="/show_transition_screen/{{project.uid}}/{{i.uid}}/" method="post">
      {% csrf_token %}


 <select name="status">
{% for s in status %}
  <option value={{s.uid}}>{{s.title}}</option>
 {% endfor %}
 </select>

   <button class="btn btn-bold  btn-primary" type="submit">Go</button>
   </form>
    -->


     </div> <!-- card......................................................................................-->

<!-- /card html -->
{% endif %}

{% endfor %}

</div> <!-- list cards -->

</div> <!-- listcontent -->




</div> <!-- for container -->


{% endif %}



{% if layout.layout_type == 'horizontal' %}
<div class="panel panel-default" >

<h3>{{layout.title}} </h3>

{% for k in layout.children.all %}


<div class="panel panel-default"  style="display: block;">
{% with layout=k %}
{% include "layout_template.html" %}
{% endwith %}
</div>

{% endfor %}


</div>
{% endif %}



{% if layout.layout_type == 'vertical' %}



<h3>{{layout.title}} </h3>







{% for k in layout.children.all %}

<div class="panel panel-default"  style="display: inline-block; float: none; vertical-align: top; " >



{% with layout=k %}
{% include "layout_template.html" %}
{% endwith %}
</div>
                    
{% endfor %}



{% endif %}


 
 <!--  
   <div> </div>

    {%if node.has_childs %}
        <ul>
         {%for ch in node.all_childs %}
              {%with node=ch template_name="tree_view_template.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
         </ul>
    {%endif%}
</li

-->