

{% if layout.layout_type == 'none' %}






  



<div id={{layout.status.uid}}   style="background-color: rgba(227,228,230, 0.5); min-width: 360px; width: 100%; "    class=" listwrapper    {{layout.status.uid}}  " >

<!--style="background-color: #E2E4E6;"--> 
<div style="width: 100%; "  class="listcontent   connectedSortable   ">



<div id={{layout.status.uid}} style="width: 100%;"  class="list-cards connectedSortable   " >


<div style="margin-top:100px;">
<a onclick="add($(this))" class="btn btn-default">Add Horizontal Section</a> 
<a onclick="add_v($(this))" class="btn btn-default">Add Vertical Section</a> <a style="margin-right: 0px;" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> </a>

</div>


</div> <!-- list cards -->



</div> <!-- listcontent -->




</div> <!-- for container -->


{% endif %}



{% if layout.layout_type == 'horizontal' %}



<!--

<div style="margin: 0px 0px 0px 0px; height: 30px;" class="well well-sm" align="center">{{layout.title}} </div> -->

<div style="height: 100%; overflow-y: scroll; overflow-x: hidden;">


{% for k in layout.children.all %}

<div class="well well-sm  " style="margin: 0px 0px 0px 0px; height: 30px;  " align="center">{{k.status.title}} </div>


<div class=""  style="display: block;">
{% with layout=k %}
{% include "layout_template2.html" %}
{% endwith %}
</div>

{% endfor %}

</div>

{% endif %}



{% if layout.layout_type == 'vertical' %}


<!--
<div class="well well-sm  " style="margin: 0px 0px 0px 0px; height: 30px;  " align="center">{{layout.title}} </div>
-->


<div class="row" style="display: flex; width: 100% ; margin: 0px;" >



{% for k in layout.children.all %}

<div style="vertical-align: top; width: 100%;">

{% if k.status.title %}

<div class="well well-sm  " style="margin: 0px 0px 0px 0px; height: 30px;  " align="center">{{k.status.title}} </div>

{% endif %}






<div class=" "  style="display: flex; flex-direction: columns;  float: none;  box-sizing: border-box; width: 100%;" >






{% with layout=k %}
{% include "layout_template2.html" %}
{% endwith %}
</div>
           </div>         
{% endfor %}

</div>


{% endif %}


 
 <!--  
   <div> </div>

    {%if node.has_childs %}
        <ul>
         {%for ch in node.all_childs %}
              {%with node=ch template_name="tree_view_template.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
         </ul>
    {%endif%}
</li

-->