{% extends 'project_base_normal.html' %}

{% block content2 %}




<!-- Modal -->
<div id="issuemodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<h3>{{project.title}}</h3>












<div style="padding-left: 10px;margin-left: 0px; height: 85%, margin-right:0px; " class=" connectedSortable2 container-fluid testimonial-group">

<div class="row">



{% for c in columns %}





<div style="background-color: #f8f8f8;"  class="panel panel-default  col-md-4" >




<h4>{{c.title}}</h4>


<!-- new -->




{% for s in c.status.all %}

<div id={{s.uid}} class="connectedSortable" >

{% for i in issues %}

{% if i.status == s %}



















<div id="{{i.uid}}"  class="modal"  role="dialog">

  <div class="modal-dialog modal-lg">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



















































<div id="{{i.uid}}" style="padding:10px; overflow:auto; white-space: normal; " class="panel panel-default content ">

  <!--  {{i.issue_type.title}}     |    



 Priorirty :

  <span class="badge"  style="background-color:{{i.priority.color}};">{{i.priority.title}}</span>



    <div class="pull-right">

{% if i.issue_id %}
{{i.issue_id}}
{% endif %}

    <span style="background-color: grey;" class="badge">{{i.fix_version.title}}</span>

    <span class="label label-primary">{{i.epic.title}}</span>



      </div>

      -->


    <script type="text/javascript">
  function myfunc(x) {


   
  
  
    $( "#modal-content" ).load(x);
    
    
  }
     </script>

      <a style="color:#525252; font-size: 110%;" id="hocus{{i.uid}}" onclick="myfunc($(this).attr('href'))"  data-target="#myModal1" data-toggle="modal"  href="/show_view_issue_screen/{{project.uid}}/{{i.uid}}/">{% if i.resolved == True %} <strike class="x" style="font-weight: lighter;"> {% endif %}{{i.title}}{% if i.resolved == True %} </strike>  {% endif %}</a> 


     {% for l in i.label.all %}


 <span class="label label-warning">{{l.title}}</span>

   {% endfor %} 


 <!--
 <form action="/show_transition_screen/{{project.uid}}/{{i.uid}}/" method="post">
      {% csrf_token %}


 <select name="status">
{% for s in status %}
  <option value={{s.uid}}>{{s.title}}</option>
 {% endfor %}
 </select>

   <button class="btn btn-bold  btn-primary" type="submit">Go</button>
   </form>
    -->
     </div>

   {% endif %}


    {% endfor %}


</div>

{% endfor %}




 <!-- for col-md of columsn -->




</div>

{% endfor %}










</div> <!-- for div row of column section-->

</div> <!-- for container -->





{% endblock %}