{% extends 'project_settings_base.html' %}
{% block content3 %}








<!-- Modal for status  -->
<div id="create_status_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Status</h4>
      </div>



      <div class="modal-body">
        

      


      <form action="/status/create/{{project.uid}}/100/" method="post">
      {% csrf_token %}

     <input   type="text" class="form-control" name="title" placeholder="title"><br>

     
Accepts Issues from these Statuses: <br>
     <select name="start_statuses" multiple>
     
     {% for s in statuss %}

      <option value="{{s.uid}}">{{s.title}}</option>

     {% endfor %}

</select>  <br><br>

Can transition Issues to these Statuses:<br>

     <select name="end_statuses" multiple>
     
     {% for s in statuss %}

      <option value="{{s.uid}}">{{s.title}}</option>

     {% endfor %}
</select><br><br>

<!--

Status Type:<br>

<select>
  <option>To Do</option>
  <option>In Progress</option>
  <option>Resolved</option>
</select>


<br><br>-->

Workflow:<br>

     <select name="workflow">
   
     {% for w in workflows %}

      <option value="{{w.uid}}">{{w.title}}</option>

     {% endfor %}
</select><br>




     <input style="visibility: hidden"   type="text"  class="form-control" name="column" value={{c.uid}} hidden><br>
      <button class="btn btn-bold  btn-default" type="submit">create status </button>

</form>




              </div>



    
    </div>

  </div>
</div>

<!-- modal content -->













<!-- Modal for column  -->
<div id="column" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Column</h4>
      </div>



      <div class="modal-body">
        

      




<form action="/column/create/{{project.uid}}/100/" method="post">
      {% csrf_token %}

     <input   type="text" class="form-control" name="title" placeholder="title"><br>
      <button class="btn btn-bold btn-default" type="submit">create column </button>

</form>



              </div>



    
    </div>

  </div>
</div>

<!-- modal content -->


















<h4> Columns </h4>





{% for c in columns %}

<h5>{{c.title}}</h5>






{% endfor %}


<h5><a style="cursor: pointer"  data-toggle="modal" data-target="#column"> Create New Column </a></h5>


<hr>

<h4> Status </h4>


{% for s in project.statuss.all %}

<h5>{{s.title}}</h5>






{% endfor %}



<h5><a style="cursor: pointer"  data-toggle="modal" data-target="#create_status_modal" >Create new status</a> </h5>

{% endblock %}
