{% extends 'project_base_scrum.html' %}

{% block content2 %} 





<!-- Modal -->
<div id="create_release" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Release</h4>
      </div>
      <div class="modal-body">



      <form action="/create_release/{{project.uid}}/" method="post">
      {% csrf_token %}
        <div class="form-group">
          <input   data-validation="text" type="text" class="form-control" name="title" placeholder="Release Title ( eg 10.2.5) ">
        </div>

        <div class="form-group">
          <input   data-validation="text" type="text" class="form-control" name="description" placeholder="Describe this release ">
        </div>

        Start Date (Optional):<br>

         <div class="form-group">
          <input   data-validation="text" type="date" class="form-control" name="start_date" placeholder="Start Date ">
        </div>

        Estimated Release Date (Optional):<br>

                 <div class="form-group">
          <input   data-validation="text" type="date" class="form-control" name="release_date" placeholder="Estimated Release Date ">
        </div>




       <button class="btn btn-default " type="submit" style="color: white; background-color:#5892e6; width: 50%">Create</button>


</form>
        




      </div>

    </div>

  </div>
</div>





<div class="container panel panel-default" style="padding: 25">

<h3> Releases* </h3><p>*This feature is currently in Beta and rolled out to early users</p><br>


<div class = "row">

<div class="col-md-2">
<b>Version </b>
</div>


<div class="col-md-2">
<b> Description </b>
</div>


<div class="col-md-2">
<b> Resolved Issues </b>
</div>

<div class="col-md-2">
<b> Remaining Issues </b>
</div>

<div class="col-md-2">
<b> Release Date </b>
</div>


<div class="col-md-2">
<b> Status </b>
</div>

<br>
<hr>


</div>

{% for r in releases %}



<div class = "row">

<div class="col-md-2">
<a href="/release_detail/{{r.uid}}/" style="color: black">{{r.title}}</a>
</div>


<div class="col-md-2">
{{r.description}}
</div>

<div class="col-md-2">




{% for mykey,myvalue in x.items %}

{% if mykey == r.title %}

    {{ myvalue }}

 {% endif %}

{% endfor %}
</div>


<div class="col-md-2">

{% for mykey,myvalue in y.items %}

{% if mykey == r.title %}

    {{ myvalue }}

 {% endif %}

{% endfor %}
</div>

<div class="col-md-2">
{{r.release_date}}
</div>

<div class="col-md-2">
{{r.released}}
</div>





</div>

<hr>

{% endfor %}

<a data-toggle="modal" class="btn btn-default" data-target="#create_release"> Create Release Version </a>

</div>

{% endblock %}