{% extends 'project_base_scrum.html' %}

{% block content2 %} 

<div class="container panel panel-default" style="padding: 25">

<h4><img src="https://i.imgur.com/xvONnBu.png" width="25" > {{release.title}}</h4>
Description : {{release.description}}<br>
Release Date  : {{release.release_date}}<br>
Start Date : {{release.start_date}}<br><hr>

<h5>Issues Resolved In This Release - {{resolved_issues.count}}</h5>

{% for i in resolved_issues %}

{{i.title}}

{% endfor %}


<h5>Issues Remaining In This Release - {{remaining_issues.count}}</h5>

{% for i in remaining_issues %}

{{i.title}}

{% endfor %}

</div>


{% endblock %}