
{% extends 'reports_base.html' %}

{% block content3 %}












<h3> Velocity Chart </h3>
<canvas id="myChart" ></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{labels |safe}},
        datasets: [{
            label: 'Sprint Velocity',
            data: {{data|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


<!--
<h4>Issues Resolved Today : {{issues_resolved_today.count}}</h4> <br>

{% for i in issues_resolved_today %}

{{i.title}} <br>

{% endfor %}
<hr>


<h4>New Issues Added Today : {{ issues_added_today.count }}</h4><br>
{% for i in issues_added_today %}

{{i.title}} <br>

{% endfor %}

<hr>

<h4>Total Issues Resolved : {{total_issues_resolved.count}}</h4><hr>

<h4>Total Open Issues : {{total_open_issues.count}}</h4>


-->





</div>



</div>
{% endblock %}
