
{% extends 'website/index_base.html' %}
{% block content %}

<div style="margin-top: 10%; height: 95%;  " class="container">




<div style="padding: 25px; width: 50%; margin-left: 22%; background-image: url('https://i.imgur.com/SEZxEbS.png'); background-size: cover;" class="panel panel-default">
<h3> Sign Up </h3> <br>

<form action="/signup/" method="post">
      {% csrf_token %}
        <div class="form-group">
          <input   type="email" class="form-control" name="username" placeholder="Username">
        </div>

        <div class="form-group">
          <input minlength="5"  type="password" class="form-control" name="password" placeholder="Password">
        </div>


       <button class="btn btn-bold btn-block btn-primary" type="submit">Sign Up</button>


</form>
<hr>
<span style="color: grey;">Already have an account? <a href="/login">Login here</a></span>
</div>
</div>


{% endblock %}
