<script type="text/javascript">
  

         $(function() {
            $({{x|safe}}).sortable({
              connectWith: ".connectedSortable",


               items: ".content",
               scroll: true,
               placeholder: "ui-state-highlight",
               helper: 'clone',
              appendTo: 'body',
               
            
/*

sort: function( event, ui ) {

     




var x = ui.offset.left;
var y = ui.offset.top;




if (x>1000) {




   $("#beta").animate({
        'scrollLeft' : '+=30px'}, 20
    );

$( this ).sortable( "instance" ).refreshPositions();
   








};



if (x<150) {


   $("#beta").animate({
        'scrollLeft' : '-=30px'}, 10
    );
   $( this ).sortable( "instance" ).refreshPositions();




};


if (y>500) {

  var p = $(event.target).closest(".lays").attr('id');
 



};






 

},

*/ // needs to be opened
  

/*

        out: function(e, ui){

          if ( ($(ui.item).parent().scrollTop() == 0) || ($(ui.item).parent().scrollHeight - $(ui.item).parent().scrollTop() <= $(ui.item).parent().innerHeight() ))
          {

            $(ui.sender).sortable('instance').scrollParent = $(e.target).closest(".lays");

           
          }
          else {

            $(ui.sender).sortable('instance').scrollParent = $(e.target);


            


          }
          


           
           
        },



         
        

 */

      


     

     out: function(e, ui){

  


     

            $(ui.sender).sortable('instance').scrollParent = $(e.target).closest(".lays");

           
        
          


           
           
        },
       

/*

              
               update: function(event, ui) {
                  var productOrder = $(this).sortable('toArray').toString();
                  
                  
           
                  





 

               },

               */



               start: function( event, ui) {
                 window.sort = 1;
                 on = 1;


                

         

               },


               stop: function( event, ui) {

                window.sort = 0;
                on = 0

               },


    update: function( event, ui) {


      
      var sender_list = $(ui.sender).attr('id');

      if (sender_list == undefined) {
        var id = $(this).attr('id');

        var sortedIDs = $(this).sortable( "toArray" ).toString();
        //alert('order list: '+ id + 'with issue order:' +sortedIDs);

      }

      





               },

       

               receive: function(event, ui) {




                  
                   
                   var x = String($(ui.item).attr('id'));
                   var y = String(this.id);


              var sortedIDs = $(this).sortable( "toArray" ).toString();
              //alert('order list' +y+ 'with issues: ' + sortedIDs);
              $.ajax({
                type:"POST",
                url: "/save_list_order/"+y+"/"+sortedIDs+"/",
                success: function(response){alert('hi')}
              })





$.ajax({
     type: "POST",
     data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
     url: '/check_transition_screen/{{project.uid}}/'+ x + '/' + y + '/',
     success: function(response){

         

         if (response == 'No Screen') {
         	var url = '/transition_issue_status/{{project.uid}}/'+ x + '/' + y + '/';
         	

         	     	$.ajax({url: url, success: function(result){
        
    }});
         	

         }

         else {

         	var url = '/show_transition_screen/{{project.uid}}/'+ x + '/' + y + '/'

         	window.location.replace(url);

         }


     }
});





               },


            }).disableSelection();
         });


</script>
