<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

.x {

  display: inline-block;
  float: none;
 
  vertical-align: top;
   
}

</style>
</head>
<body>
<br><br>

<div class="container-fluid panel panel-default" >
fdsgsdf

<div class="row" style="  overflow-x: auto;
  white-space: nowrap;">

<div class=" panel panel-default x" >
sdfsdfsdf<br>

sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>s
</div>

<!--  ...............................  -->

<div class=" panel panel-default x">



<div class="panel panel-default"   style="display:inline-block; vertical-align: top; "  >
sdfsdfsdf<br>

<div class="panel panel-default" style="display: inline-block; vertical-align: top;">
ishaan<br>
sdfsdfsdf<br>
sdfsdfsdf<br>

</div>

<div class="panel panel-default" style="display: inline-block;">
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsxxxxxdf<br>

<div class="panel panel-default" style="display: block">
sddss<br>
ddfdfdfffffffssdsdsdsd<br>
</div>
 
<div class="panel panel-default" style="display: block">
sddss<br>
ddfdfd<br>
</div>

<div class="panel panel-default" style="display: block">
sddss<br>
ddfdfd<br>
</div>


</div>

</div>

<div class="panel panel-default"  style="display:inline-block; vertical-align: top; width: 250px; "  >
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
hola<br>

</div>




</div>

<!--  ...............................  -->

<div class=" panel panel-default x" >

<div class="panel panel-default"   style="display:block; vertical-align: top; width: 250px;"  >
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>s

</div>

<div class="panel panel-default"  style="display:block; vertical-align: top; width: 250px; "  >
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>
sdfsdfsdf<br>

</div>

</div>

<div class=" panel panel-default x" >

sdfsdfdfdfdfdfdfdfdfddf
</div>

<div class=" panel panel-default x" >
dddfdfdfdfdfdfdfdfdf
sdfsdf
</div>

<div class=" panel panel-default x" >

sdfsdfdfdfdfdfdfdfdf
</div>

<div class=" panel panel-default x" >

sdfsdffffdfdfdfdfdfd
</div>

<div class=" panel panel-default x" >
dfdfdfdfdfdfdf
sdfsdf
</div>

</div>


</div>


</div>





</body>
</html>