{% extends 'project_base_scrum.html' %}

{% block content2 %}

<!-- dynamically create layout using jquery -->

<script type="text/javascript">

$(document).ready(function(){
  
  $("#add_column").click();
  $("#add_column").click();

  });

</script>

<script type="text/javascript">


  
  function delete_layout() {
    $(this).parent().hide()
  }


function add(a) {




   var k =  $("#new_block").clone()
   
   k.css({"display":"block"});




z = k.clone().append(k);

  

 var y =  a.closest(".listwrapper").replaceWith(z);



  
  
}



function add_v(a) {




   var k =  $("#new_block").clone()
   
  k =  k.css({"display":"inline-block"});

     var x =  $("#new_block").clone();
   
  x =  x.css({"display":"inline-block"});


var t = $('<div></div>').appendTo('#main');

 

t.append(k);



t.append(x);







 var y =  a.closest(".listwrapper").replaceWith(t);
 




  
}


</script>



<div class="head" id="new_column" onmouseover="show_options()" style=" vertical-align: top; display: inline-block; margin-right: 20px; display: none ">


<div contenteditable="true" class="well well-sm " align="center" style="margin: 0px 0px 0px 0px; height: 30px; font-weight: 150%; font-size: 110%;padding-top:5px;" width="{{c.col_layout.w.all|first}}">New Column</div>








<div  class=" lays "  class="panel-default panel  "  style=" min-width: 390px;  background-image: url('{{c.bg_url}}' );  background-size: cover;  height: 92%; overflow-y: scroll; overflow-x: hidden; ">



<div id={{layout.status.uid}}  onclick=" quick_create()" style="background-color: rgba(227,228,230, 0.5); min-width: 360px; width: 100%; "    class=" listwrapper    {{layout.status.uid}}  " >

<!--style="background-color: #E2E4E6;"--> 
<div style="width: 100%; "  class="listcontent   connectedSortable   ">



<div id={{layout.status.uid}} style="width: 100%;"  class="list-cards connectedSortable   " >

<div style="margin-top:100px;">

<a id= onclick="add($(this))" class="btn btn-default">Add Horizontal Section</a> 


<a onclick="add_v($(this))"  class="btn btn-default">Add Vertical Section</a> 


<a onclick="$(this).closest('.head').hide();" style="margin-right: 0px;" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> </a>

</div>


</div> <!-- list cards -->



</div> <!-- listcontent -->




</div> <!-- for container -->


</div>
</div>









<div class="head" id="new_block" onmouseover="show_options()" style=" vertical-align: top; display: inline-block;  display: none ">












<div id={{layout.status.uid}}  onclick=" quick_create()" style="background-color: rgba(227,228,230, 0.5); border-style: solid; min-width: 360px; width: 100%; "    class=" listwrapper    {{layout.status.uid}}  " >
<h5> heading </h5>

<!--style="background-color: #E2E4E6;"--> 
<div style="width: 100%; "  class="listcontent   connectedSortable   ">



<div id={{layout.status.uid}} style="width: 100%;"  class="list-cards connectedSortable   " >

<div style="margin-top:100px;">

<a onclick="add($(this))" class="btn btn-default">Add Horizontal Section</a> 


<a onclick="add_v($(this))" class="btn btn-default">Add Vertical Section</a> 


<a onclick="$(this).closest('.head').hide();" style="margin-right: 0px;" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> </a>

</div>


</div> <!-- list cards -->



</div> <!-- listcontent -->




</div> <!-- for container -->





</div>










<div id="daddy"  style="overflow-x: scroll; height: 95%; padding: 0px;" class="container-fluid  "  >





<div  id="beta"  class="row connectedSortable" style="  overflow-x: scroll;
  white-space: nowrap;margin: 0px;">




{% for c in columns %}


<div style="vertical-align: top; display: inline-block; margin-right: 20px;">


<div class="well well-sm" align="center" style="margin: 0px 0px 0px 0px; height: 30px; font-weight: 150%; font-size: 110%;padding-top:5px;" width="{{c.col_layout.w.all|first}}">{{c.title}} Column</div>



<div id="{{c.uid}}" class=" lays "  class="panel-default panel  "  style=" width:{{c.wid}});  background-size: cover;  height: 92%; overflow-y: scroll; overflow-x: hidden; ">







{% include "layout_template2.html" with layout=c.col_layout.all|first %}










</div>. <!-- column panel -->


</div><!-- new-->

{% endfor %}




<script type="text/javascript">
  function add_column(){
    

   var k =  $("#new_column").clone().insertBefore("#add_column");
   
   k.css({"display":"inline-block"});
  



  }
</script>
<div id="add_column" onclick="add_column()" style="vertical-align: top; display: inline-block; margin-right: 20px;">
<b>Add a column</b>
</div>



</div>

</div>

<script type="text/javascript">
  $("#main").css("overflow-y", "hidden");
</script>

{% endblock %}

