{% extends 'qa/base.html' %}


{% block content3 %}

<div class="container-fluid panel panel-default" style="padding: 25;">

<h4> Add New Test </h4>
<br>

<h5>Product</h5>
<input style="width: 50%" type="text" class="form-control" name="product" placeholder="Enter link of Product to be Tested ">

<br>
<h5>Target Platforms</h5>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Android
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">iOS
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Web
    </label>
<br>

<br>
<h5>Browsers</h5>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Chrome
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Safari
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Firefox
    </label>
<br><br>
<button class="btn-success ">Start Testing</button>

</div>

{% endblock %}