{% extends 'website/index_base.html' %}
{% block content %}

<div   class="container">
<div style="background-image: url(https://i.imgur.com/DUi3sH4.jpg); height: 50%; background-size: cover; padding-top: 60px" > <h1 style="text-align: center; color: white;">Enpointer</h1> </div>

<br>
<h2> Software Development is Hard. We are making it simpler, more pleasant, and more productive </h2><br>

<p style="font-size: 125%">

We are builders and like to make stuff. We as teams need simple tools that just get out of the way and help us focus on what we do best - Build Amazing Things. Thats why we built Enpointer to give software developers a simple yet powerful tool which allows them to collaborate and see the bigger picture. <br><br>

Enpointer's board is a like a minecraft for Agile Boards. You're creativity is the limit in how you want to achieve your goals as a team. <br><br>
<br>
<h3>How we roll</h3><br>

<p>
<h4>TRANSPARENT</h4>
We are a meritocracy and hold ourselves accountable. We reward the competent over the confident.
</p>



<p>

<h4>CUSTOMER OBSESSED</h4>
If a customer is upset, we failed. Period. We learn, and we fix it.

</p>

<p>

<h4>ONE TEAM</h4>
There is only one team at Enpointer. We win and lose together and never say, "That's not my job."
</p>

<p>

<h4>SCRAPPY</h4>
We're smart, resourceful, and find a way. We write our own story instead of following others.
</p>
<br>
<br>


We have released a basic Beta version of the software to get the ground running. But we have huge ambitions with Enpointer and there are some big feature releases lined up. Our Motto is 'Out of box Simplicity, Unparalled Customizability'. <br><br>

We release multiple times every single day, so join our Beta program as we go on this journey <br><br>

In a world being constantly eaten by software we have set a goal of helping make 100 million Developers and we are doing our best to enable that by making their lives a little easier. <br><br>


</p>

</div><br><br>

{% endblock %}