


{% extends 'website/index_base.html' %}
{% block content %}

<div class="container-fluid" style="background-color: #000000; height: 50%; color: white; text-align: center; padding:20; background-image: url('https://i.imgur.com/JCDYt6k.png');background-size: cover"><br><br>

<h1> Ultimate Software Issue Tracking Tool </h1><br><br>

<h3>Enpointer unlocks your software team's true potential by helping them <br> go agile faster and manage complex software projects </h3>

<br><br>

<a href="/signup" style="color: white; background-color: #2196F3; width: 30%; font-size: 170%" class="btn  btn-lg " >Get Started For Free </a>

<br><br>


</div>

<div class="container-fluid panel panel-default" style="margin:0; height: 10%">
<div class="row" style="text-align: center;">

<div class="col-md-1">
</div>

<div class="col-md-2">
<h3>Planning</h3>
</div>

<div class="col-md-2">
<h3>Tracking</h3>
</div>

<div class="col-md-2">
<h3>Workflows</h3>
</div>

<div class="col-md-2">
<h3>Reporting</h3>
</div>

<div class="col-md-2">
<h3>Opensource</h3>
</div>

<div class="col-md-1">
</div>




</div>

</div>

<div class="container-fluid" style=" padding: 25; padding-top: 50; padding-bottom: 100">

<div class="row">

<p style="color: grey; text-align: center;opacity: 0.5; font-size: 200%">Plan Your Project The Agile Way</p><br><br>

<div class="col-md-3">

<h1> Planning </h1><br>
<p style="font-size: 150%">Plan Your Software Project With Backlog, Sprints, Epics and Versions</p>

<br><br>
<span style="font-size: 150%; font-weight: bold">Create Backlog</span>
<span style="font-size: 140%">- Create Backlog of your work by easily creating issues in the Plan View </span><br><br><br>

<span style="font-size: 150%; font-weight: bold">Organise Sprints</span>
<span style="font-size: 140%">- Create and organise work across sprints </span>

</div>

<div class="col-md-9">

<img src="https://i.imgur.com/E8FpfFM.png?1" width="100%">

</div>



</div>


</div>


<div class="container-fluid" style=" background-color: #f6f6f6; padding: 25; padding-top: 50; padding-bottom: 100">

<div class="row">

<p style="color: grey; text-align: center;opacity: 0.5; font-size: 200%">Infinite Possibilities With Most Advanced Visual Board</p><br><br>



<div class="col-md-9">

<img src="https://i.imgur.com/sCVyGal.png?1" width="100%">

</div>

<div class="col-md-3">

<h1> Tracking </h1>
<p style="font-size: 150%"> Track real time status of your project on Project Boards </p>

<br><br>
<span style="font-size: 150%; font-weight: bold">Visual Boards</span>
<span style="font-size: 140%">- Drag and Drop Issues across various project statuses in visual project boards </span><br><br><br>

<span style="font-size: 150%; font-weight: bold">Customizable Layouts</span>
<span style="font-size: 140%">- Break free from columns and lanes, you can create whatever layout you want with advanced layout editor </span>


</div>



</div>


</div>

<div class="container-fluid" style=" padding: 25; padding-top: 50; padding-bottom: 100">

<div class="row">

<p style="color: grey; text-align: center;opacity: 0.5; font-size: 200%">Build Complex Workflows That Scale With Your Project </p><br><br>

<div class="col-md-3">

<h1> Workflows </h1>
<p style="font-size: 150%">Sophesticated workflows to mirror your working style and process </p><br>

<br><br>
<span style="font-size: 150%; font-weight: bold">Customized Workflows</span>
<span style="font-size: 140%">- Customize an empowering workflow by creating transitions</span><br><br><br>

<span style="font-size: 150%; font-weight: bold">Transition Screens</span>
<span style="font-size: 140%">-Add Custom logic to transitions by adding transition screens </span>


</div>

<div class="col-md-9">

<img src="https://i.imgur.com/N8Xdomm.png?1" width="100%">

</div>



</div>



</div>



<div class="container-fluid" style=" background-color: #f6f6f6;  padding: 25; padding-top: 50; padding-bottom: 100">

<div class="row">

<p style="color: grey; text-align: center;opacity: 0.5; font-size: 200%">Get Big Picture At a Glance</p><br><br>


<div class="col-md-9">

<img src="https://i.imgur.com/K0gD8VJ.png?1" width="100%">

</div>

<div class="col-md-3">

<h1> Reporting </h1>
<p style="font-size: 150%"> See Analytics and generate reports to continously improve </p>

<br><br>
<span style="font-size: 150%; font-weight: bold">Agile Sprint Analytics</span>
<span style="font-size: 140%">- See how your team is doing by tracking sprint level analytics like sprint velocity and improve your sprint scope and stop scope creep </span><br><br><br>

<span style="font-size: 150%; font-weight: bold">Reports For Daily Progress</span>
<span style="font-size: 140%">- Get Insightful reports about what the team did yesterday and what is the plan for today to drive your daily standups </span>


</div>

</div>



</div>




<div class="container-fluid" style=" background-color: ;  padding: 25; padding-top: 50; padding-bottom: 100">

<div class="row">

<p style="color: grey; text-align: center;opacity: 0.5; font-size: 200%">Your issues are yours to keep</p><br><br>



<div class="col-md-5">

<h1> Opensource </h1>
<p style="font-size: 150%"> 100% open source and free forever </p>

<br><br>
<span style="font-size: 150%; font-weight: bold"> Free, open, simple</span>
<span style="font-size: 140%">- Enpointer is built by contributions from all around the world by our active extended community.This means you can adopt Enpointer without worrying about lock-ins, black boxed code base or any exorbitant artifical bills </span><br><br><br>

<span style="font-size: 150%; font-weight: bold">Define Direction of Enpointer</span>
<span style="font-size: 140%">- You can become part of our community to make conributions and be part of building a world class issue tracking software that you and rest of the world can use.</span>


</div>



<div class="col-md-7">

<img src="https://i.imgur.com/yC1yYgo.png" width="80%">

</div>

</div>



</div>


<!--

<div class="container-fluid" style="padding: 30; text-align: center;">

<h2 style=" text-align: center;"> Additional Features</h2> <br><br>


<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>


</div>

<br><br>

<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>


</div>

<br><br>

<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>




</div>

<br><br>



<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>




</div>

<br><br>



<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>




</div>

<br><br>



<div class="row" style="font-size: 125%">

<div class="col-md-4">

<h4> Comments </h4>
sadasdasd asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasd
asdasdasd

</div>

<div class="col-md-4">
<h4> Comments </h4>
asdasdasd asdasd

</div>




</div>

<br><br>


</div>

-->
<div class="container-fluid" style="padding: 100; background-color: 
#2196F3;">




<div class="row" style="color: white; text-align: center;">




<span style="font-size: 200%">Build Better Software. Sign Up Today  </span><br><br><br>



<a href="/signup/"  class="btn btn-lg btn-default " style="width: 25%; margin-left: 20px; font-size: 200%">Get Started </a> <br><br>

<span style="font-size: 200%; margin-left: 25">  </span>


</div>







</div>


</div>


{% endblock %}
