



<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- Hotjar Tracking Code for www.enpointer.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:799530,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<meta name="google-site-verification" content="ztd5Px9OP3YfowoVESKqv98jAxLtrnhCekQYc9krv5Y" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112548991-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112548991-1');
</script>

    <title>Enpointer: Issue Tracker for Modern Teams</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2014-11-26/3ab75b6cee1a1d20d4a079891bcbe2d2.ico" type="image/x-icon">
<link rel="icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2014-11-26/3ab75b6cee1a1d20d4a079891bcbe2d2.ico" type="image/x-icon">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</script>


<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">


</head>

<body>

<nav style="margin-bottom:0;" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <a href="/"><img src="https://i.imgur.com/azmQcUA.png" width="100" style="padding: 0; margin-left: 15; margin-top: 10; "></a>
    </div>




     
    <ul style="font-size: 125%" class="nav navbar-nav navbar-right">
    <!--
 <li ><a href="/features/home">Features</a></li> 
<li ><a href="/pricing">Pricing</a></li>


<li style="margin-top: 15px;" > 
  <div class="dropdown">
    <a style="color: grey; cursor: pointer;"  data-toggle="dropdown">Resources
    </a>
    <ul class="dropdown-menu">
      <li><a href="/blog">Blog</a></li>
      
      <li><a href="/support/home/">Support</a></li>

    </ul>
  </div>

</li>

-->

<li ><a href="/features">Features</a></li>

<li ><a href="/blog">Blog</a></li> 
<!--<li ><a href="/updates">Updates
</a></li> -->
<li ><a href="/login">Login</a></li>
<li ><a class="btn btn-default" href="/signup" style="background-color: #5892e6; color: white; border: none !important ; margin-right: 10;   width: 175"><b style="font-size: 125%; margin-right: 10">Get Started</b></a></li>



    </ul>




  </div>
</nav>



{% block content %}

{% endblock content %}



<div style="padding-left:30px; padding-top: 25px; padding-bottom: 25px; background-color: #212121; " class="container-fluid footer" >

<div style="color: white;" class="row">

<div class="col-md-1">
</div>

<div   class="col-md-2">
<h3 > Product </h3>

<a style="color: white;"  href="/features/">Features</a> <br>
<a style="color: white;" href="/pricing">Pricing</a> <br> 
<!--<a style="color: white;" href="/features">Features</a> <br> -->

<!--<a style="color: white;" href="/updates">Product Updates</a> <br> -->

<!--
<a style="color: white;" href="/why">Why Enpointer ?</a> <br> -->
<!--<a style="color: white;" href="/product_philosophy">Product Evolution</a> <br> -->
</div>

<!--

<div class="col-md-3">
<h3>Top Features</h3>
<a style="color: white" href="/features/workflow_management/">Flexible Workflow Management</a> <br>
Fully Customizable Board Layouts <br>
Sprint Planning <br>
Labels and Epics <br>
Release Version Management<br>
Customizable Issue Screens <br>
Transition screens <br>
Customizable Issue Types <br>
Time Tracking<br>
</div>

-->


<div class="col-md-2">
<h3> Resources</h3>



<!--
<a style="color: white" href="/knowledge/home">Knowledge Base</a> <br>-->
<a style="color: white" href="/blog">Blog</a> <br>
<a style="color: white" href="http://help.enpointer.com">Help</a> <br>
<a href="http://hipimg.com" style="color: white;" >HipImg</a><br>
<!--
<a target="_blank" href="http://softspot.enpointer.com" style="color: white;" >SoftSpot</a><br>-->

<a target="_blank" href="http://www.Unsyntax.com" style="color: white;" >Unsyntax</a>

<!--
<a style="color: white" href="/case_studies">Case Studies</a>-->

</div>

<div class="col-md-2">
<h3> Popular Content</h3>


<a href="https://enpointer.com/blog/scaling-agile-with-scrum-of-scrums/" style="color: white">Scaling Agile with 'Scrum of Scrums'</a><br>

<a href="https://enpointer.com/blog/top-agile-terms-every-developer-should-know/" style="color: white">Top Agile Terms Every Developer Should Know</a><br>




</div>




<div class="col-md-2">
<h3> Company </h3>
<a style="color: white;" href="/about">About Us</a><br>
<a style="color: white" href="/services/">Professional Services</a><br>
<span style="color: white;" >For 24x7 Support:<br> help@enpointer.com</span><br>








<!--

<a style="color: white;" href="/design_philosophy">Design Philosophy</a><br>
<a style="color: white;" href="/company_principles">Company Principles</a><br>
-->


</div>

<div style="color: black" class="col-md-2">
<h3 style="color: white"> Connect With Us</h3>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://enpointer.us17.list-manage.com/subscribe/post?u=477bb79a0fd8c4c3d3ce5b6a5&amp;id=fcf37fc18e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL" style="color:white">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_477bb79a0fd8c4c3d3ce5b6a5_fcf37fc18e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->



</div>


<div class="col-md-1">
</div>

<br><br><br>
</div>


</div>







<div style="padding-left: 50px; background-color: #424242 " class="container-fluid footer" >

<div class="row">
<br>
<div class="col-md-10" style="color: white">
Copyright Enpointer 2018. All Rights Reserved.<!-- <a style="color: grey"  href="/terms_of_use">Terms of Use</a>|
<a style="color: grey" href="/terms_of_use">Privacy Policy </a> | <a style="color: grey" href="/security">Security </a> -->



</div>

<div class="col-md-2" style="color: white">




<a style="color: white" href="https://twitter.com/enpointer_hq"><i style="font-size: 18px;" class="fa fa-twitter" aria-hidden="true"></i></a>
<a style="color: white" href="https://www.facebook.com/enpointer/"><i style="font-size: 18px;" class="fa fa-facebook" aria-hidden="true"></i></a>
<a style="color: white" href="https://github.com/Softrum/Enpointer"><i style="font-size: 18px;" class="fa fa-github" aria-hidden="true"></i></a>
<a style="color: white" href="https://www.linkedin.com/company/enpointer/"><i style="font-size: 18px;" class="fa fa-linkedin" aria-hidden="true"></i></a>

</div>

<br><br>
</div>


</div>

<script>
  window.intercomSettings = {
    app_id: "p76oib2v"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/p76oib2v';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


</body>


</html>