



{% extends 'website/index_base.html' %}
{% block content %}




<div class="container-fluid" style="background-image: url('https://i.imgur.com/7vvbDxe.png?2'); background-size: cover; background-color: #000000; color: white">
<div class="row" style="">

<div class="col-md-1">
</div>

<div class="col-md-6"><br><br><br><br><br><br>
<br><br>
<img src ="https://i.imgur.com/TGq6WgL.png" width="100%">

</div>


<div class="col-md-4"><br><br><br>

<p style="font-size: 260%"><b>

<img src="https://i.imgur.com/H1c5K75.png?1" width="70%" style="padding: 0; margin-left: 0; margin-top: 0; "><br><br>

 Modern Issue Tracker for Software Teams.


</b> </p><br>
<p  style="font-size: 170%">Enpointer is 100% open source & free issue tracking software.</p>
<br>



<p style="font-size: 150%">Building cutting edge software but still stuck with legacy issue tracker? Go agile faster, be more productive, build beautiful software with the new age issue tracker for new age software companies</p>

<br><br>

<a href="/signup" style="color: white; background-color: #2196F3; width: 100%; font-size: 220%" class="btn  btn-lg " >Get Started For Free </a>
</div>


<div class="col-md-1">
</div>



<br><br><br><br><br><br>


</div><!-- row -->

<br><br><br><br><br><br>


</div>


<div style="background-color:#2196F3; padding: 75px; padding-bottom: 125; background-image: url('https://i.imgur.com/FnHhNZG.png');background-size: cover" class="container-fluid">

<h1 style="color:white;text-align: center;" > Out of Box Simplicity, Powerful Customizability </h1><br><br><br>

<div class="row">

<img src="https://i.imgur.com/9VGIVxH.png?1"  width="100%" >


</div>
</div>







<div class="container-fluid" style="background-image: ; background-image: url('https://i.imgur.com/ucR7CBp.png'); background-size: cover">

<div class="row" style=" text-align: left; padding: 25; padding-top: 100; padding-bottom: 20">



<div class="col-md-5">
<br><br>
<h1> Open Source at Heart & Practice </h1>
<br><br><br>

<p style="font-size: 150%; ">
Enpointer is 100% Opensourced under GNU General Public License Version 3.0 (or later) and is built collaborately with the contributions from our active global Opensource community.<br><br> No lock-ins, full transparency and 100% commitment to opensource are the ideals that guide Enpointer everyday. <br><br>

<a href="https://github.com/Softrum/Enpointer" class="btn btn-default btn-lg"><i class="fa fa-github-alt"></i> View us on Github</a>
</p>

</div>



<div class="col-md-6">



<img src="https://i.imgur.com/yC1yYgo.png" width="90%">

</div>





</div>

</div>











<div style="background-color: white; padding: 35px; padding-top: 150; padding-bottom: 150; " class="container-fluid " >

<div class="row">

<div class="col-md-8">

<img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://i.imgur.com/4KtCh6q.png" width="100%">

</div>




<div class="col-md-4">

<h2>Powerful Customizable Boards</h2><br><br>

<p style="font-size: 150%; margin-top: 30px;">

Don't just restrict your work in columns, use the powerful editor to build a board which reflects your workflow

</p>




</div>




</div>
</div>






<div style="background-color: 
#0b0d11; padding: 35px; padding-top: 150; padding-bottom: 150; background-image: url('https://i.imgur.com/7vvbDxe.png?2'); background-size:cover" class="container-fluid " >

<div class="row" style="color: white">



<div class="col-md-6">

<h2><span  style="background-color: black">Plan Your Sprints</span></h2><br><br>

<p style="font-size: 150%; margin-top: 30px;"><br><br><span style="background-color: black">

Stay on top of your release deadlines and ship code faster by planning ahead your sprints with your team. Understanding your team's capabilities and scope of work in a sprint helps you move fast without breaking things
</span>

</p>




</div>

<div class="col-md-1">
	
</div>


<div class="col-md-5">

<img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://i.imgur.com/g8wLd5l.png" width="100%">

</div>








</div>
</div>











<div style="background-color: white; padding: 35px; padding-top: 150; padding-bottom: 150; " class="container-fluid " >

<div class="row">


<div class="col-md-8">

<img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://i.imgur.com/evpgqYN.png" width="100%">

</div>




<div class="col-md-4">

<h2>Define Your Own Workfow</h2><br><br>

<p style="font-size: 150%; margin-top: 30px;">

Win the war against project chaos by designing and implementing processes and workflows for your team to follow. With Enpointer you can customize and create transitions and workflows to match how your team works.

</p>




</div>











</div>
</div>


















<div style="background-color: #f6f6f6; padding: 35px; padding-top: 100; padding-bottom: 100; " class="container-fluid " >

<div class="row">



<div class="col-md-4">

<h2>Build and Test APIs</h2><br><br>

<p style="font-size: 150%; margin-top: 30px;">

Software is eating the world and APIs are eating the software. <br><br>
Enpointer makes API development simple by providing complete toolchain to for developers to make software in an API first software world.

</p>




</div>


<div class="col-md-8">

<img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://i.imgur.com/yEZq6Xk.png?1" width="100%">

</div>
















</div>
</div>





















<div style="background-color: #012450; padding: 35px; padding-top: 100; padding-bottom: 100; background-image: url('https://i.imgur.com/ucR7CBp.png'); background-size: cover " class="container-fluid " >

<div class="row" style="color:white">

<br><br>


<div class="col-md-6"><br>

<h2>Reports to see the bigger picture</h2><br><br>

<p style="font-size: 150%; margin-top: 30px;">

Use our best in class analytics and reports to help you zoom out from minute project details and see where your project and team stands. Use these insights and data to take your team's agile process to next level.

</p>




</div>

<div class="col-md-2">
</div>




<div class="col-md-4">

<img style="" src="https://i.imgur.com/BXakSO4.png" width="100%">

</div>















</div>
</div>












<div style="background-color: white; padding: 35px;padding-top: 50; padding-bottom: 150; background-image: url('https://i.imgur.com/JCDYt6k.png'); background-size: cover; height: 70% " class="container-fluid " >

<div class="row" >



<div class="col-md-12">

<h2 style="text-align:center;">Do More with Enpointer </h2><br><br><br>

<div style="font-size: 125%; padding: 30" class="row">

<div class="col-md-2">

<h2 style="font-size: 150%; text-align: center;margin-top:10">Plan</h2><br>

<h2 style="font-size: 150%; text-align: center;margin-top:10">Align</h2>


</div>

<div class="col-md-4">


<p>Sophisticated Planning And Roadmapping Tools, so that your project offers no surprises</p><br>



<p>Align your team's direction by setting up processes and transitions using our workflow engine</p>


</div>

<div class="col-md-2">
<h2 style="font-size: 150%; text-align: center; margin-top:10">Track</h2><br>
<h2 style="font-size: 150%; text-align: center; margin-top: 10">Analyse</h2>

</div>


<div class="col-md-4">


<p>Track the snapshot of current status of your project and keep everybody on the same page using our board powered by innovative layout editor</p><br>


<p>Get real time data and reports inlcuding sprint velocity, burndown charts to get powerful insights</p>


</div>

</div>



<!--

<p style="font-size: 150%; margin-top: 30px;">

<ul style="font-size: 135%">
<li>Powerful Customizable Boards</li>
<li>Plan Your Sprints</li>
<li>Define Custom Workflows Across Statuses</li>
<li>Create and Manage Projects</li>
<li>Multiple Issuetypes such as Story, Bug, Task, Epic</li>
<li> Define Issue Priorities </li>
<li> Powerful Associative and Intersection Quick Filters </li>
<li> Comments, attachments and To-Do Tasks
<li>Drag and Drop Customizable Agile Boards </li>
<li>Quick Search Based Filtering </li>
<li>Reports and Analytics </li>
<li>Robust Search for Issues</li>

<li>Many more to come as we ship improvements, bug fixes and new features every day </li>


</ul>

</p>


-->



</div>




</div>
</div>





















<div style="background-color:  #232732; padding: 35px; padding-top: 100; padding-bottom: 100; " class="container-fluid " >

<div class="row" style="color:white">

<div class="col-md-2">



</div>

<div class="col-md-4">

<img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="https://i.imgur.com/JjmT2JG.png" width="100%">

</div>



<div class="col-md-5">

<h2>Ultimate Guide to Scaling Agile</h2><br><br>

<p style="font-size: 125%; margin-top: 30px;">

Join the exclusive early list for our upcoming 'Ultimate Guide to Scaling Agile' eBook, launching next month.<br><br>Book covers key problems organisations face while implementing and scaling agile methodologies successfully for high stake software projects. It offers strategic + tactical actions & insights to make your shift to agile seamless or help optimise your existing process.
</p>





<br>
<h3></h3>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://enpointer.us17.list-manage.com/subscribe/post?u=477bb79a0fd8c4c3d3ce5b6a5&amp;id=fcf37fc18e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL" style="color:white">Get eBook delivered to your email as soon as it launches</label>
  <input style="color: black" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_477bb79a0fd8c4c3d3ce5b6a5_fcf37fc18e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->








<div class="col-md-2">



</div>


</div>


















</div>
</div>







<div class="container-fluid" style="background-color: #f8f8f8; padding-top: 60; padding-bottom: 60; ">

<div class="row" style=" text-align: center; padding: 25; padding-top: 20; padding-bottom: 100">

<h2>Love From Community </h2><br><br>

<div class="col-md-4" style="text-align: left; font-size: 125%">

Enpointer is amazing in terms of breath of customizability it offers. We started off with one project on Enpointer and now have moved other projects to Enpointer as well. <br><br>
<i>- Ryan Peters, Goodbox Inc</i>

</div>

<div class="col-md-4 " style="text-align: left; font-size: 125%">

Our team uses Enpointer to manage a complex visual board of user stories, bugs, releases - all put in together in one view. Product does looks really promising and 24x7 support has been faboulous. <br><br>
<i>- Nate Menders, DevShop </i>

</div>

<div class="col-md-4 " style="text-align: left; font-size: 125%; ">

Finally something to manage our issues which is not bloated like Jira and doesnt lack features like Clubhouse. We have been part of early Beta and have loved the experience, both with the product and the team. These guys know what they are doing
<br><br>
<i>- Avik Sharma, UniGlobal Analytics</i>


</div>


</div>

</div>






<div style=" background-color: 
#2196F3; padding-top: 100px; padding-bottom: 100; text-align: center; " class="container-fluid " >






<div class="row" style="color: white; text-align: center;">



<div style="">

<span style="font-size: 200%">Build Better Software. Sign Up Today  </span><br><br><br>



<a href="/signup/"  class="btn btn-lg btn-default " style="width: 25%; margin-left: 20px; font-size: 200%">Get Started </a> <br><br>

<span style="font-size: 200%; margin-left: 25">  </span>


</div>







</div>

</div>







</div>
</div>

<!--

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"477bb79a0fd8c4c3d3ce5b6a5","lid":"fcf37fc18e"}) })</script>

-->

{% endblock %}
