


{% extends 'website/index_base.html' %}
{% block content %}


<div class="container">
<div class="row">

<div class="col-md-6">

<h1> Pricing</h1><br><br>

<h3> Open Source version of Enpointer is Free and will always be free, Forever</h3>

<br>


<h3> You can setup your instance of Enpointer on your server. Keep full control of your issues and software</h3><br>

<h3>If you are an enterprise and want managed hosting service. You can contact us at help@enpointer.com for pricing and details</h3><br><br>

<a href="/signup" class="btn btn-success btn-lg" style="width: 50%;">Get Started </a>
</div>

<div class="col-md-6">

</div>



</div><!-- row -->




</div>
<br><br><br>
<br><br><br>
<br><br><br>

<!--
<div style="background-color:#2196F3; padding: 75px;" class="container-fluid">

<h1 style="color:white;margin-left: 15%" >Great Plans and Simple Pricing </h1><br><br><br>

<div class="row">

<div style="margin: 30px;" class="col-md-3 panel panel-default">
<h3>Startup</h3>
<h2> Free </h2>
<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>

</div>

<div style="margin: 30px;" class="col-md-3 panel panel-default">
<h3>Business</h3>
<h2> $10 /user/mo </h2>
<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>

</div>

<div style="margin: 30px;" class="col-md-3 panel panel-default">
<h3>Enterprise</h3>
<h2> Contact us </h2>
<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>
<span class="glyphicon glyphicon-ok-circle"></span> Customizable Workflow<hr>

</div>
-->
</div>
</div>




{% endblock %}

