


{% extends 'website/index_base.html' %}
{% block content %}


<div style="margin-top: 10%; height: 95%" class="container">




<div style="padding: 25px; width: 50%; margin-left: 22%" class="panel panel-default">
<h3> Reset Password </h3> <br>

<br>{{message}}



<form action="/reset_password/" method="post">
      {% csrf_token %}


        <div class="form-group">
          <input  type="password" class="form-control" name="password" placeholder="Password">
        </div>


      <div hidden class="form-group">
          <input  type="text" class="form-control" name="username" value="{{user.username}}" placeholder="Password">
        </div>

       <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>


</form>


</div>
</div>


{% endblock %}