
{% extends 'website/index_base.html' %}
{% block content %}

<div class="container">
<h3> Product Updates </h3>
<p style="font-size: 120%">We are constantly improving the product and there are multiple releases made every single day to roll out new functionalities and features, UX improvements as well as bug fixes.</p>
<br><br>

<b>12.1.2018</b>
<ul>
<li>Ability to move an issue.</li>
<li>Bug Fixes</li>

</ul>

<hr>

<b>13.1.2018</b>
<ul>
<li>Serving Static files from AWS S3.</li>
<li>Ability to edit the name and dates of sprint</li>
<li>Opening the suggested search issues on modal view </li>

</ul>

<hr>

<b>14.1.2018</b>
<ul>
<li>Ability to clone an issue.</li>
<li>Bug Fixes</li>

</ul>

<hr>

<b>15.1.2018</b>
<ul>
<li>User tips for easier onboarding</li>
<li>Now user can assign due date from the issue modal</li>


</ul>

<hr>

<b>16.1.2018</b>
<ul>
<li>Added help section within app </li>
<li>Bug Fixes</li>

</ul>



<br>

</div>

{% endblock %}