{% extends 'project_base_scrum.html' %}

{% block content2 %}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" rel="stylesheet">
	


<div class="container-fluid" style="overflow: scroll; height: 100%; padding-top: 20">




<div class="row">



<div class="col-md-2" style="margin-right: 0; padding: 0; margin-left: 20">

<div class="panel panel-default" style="padding: 25; margin-right: 0; margin-left: 0">

 <a href="/code/source/{{project.uid}}" style="color: black"><i style="font-size: 150%" class="fa fa-code"></i>  Source<br></a>
 <a href="/code/commits/{{project.uid}}" style="color: black"><i style="font-size: 150%" class="mega-octicon octicon-git-commit"></i> Commits<br></a>
 <a href="/code/branches/{{project.uid}}" style="color: black"><i style="font-size: 150%" class="fa fa-code-fork"></i> Branches<br></a>
 <a href="/code/pull-requests/{{project.uid}}" style="color: black"><i style="font-size: 150%" class="mega-octicon octicon-git-pull-request"></i> Pull Requests<br></a>




</div>

</div>


<div class="col-md-9">
{% block content3 %}{% endblock %}

</div>




</div>

</div>


{% endblock %}





