{% extends 'website/index_base.html' %}
{% block content %}


<div class="container">


<h1 align="center">Ways To Use Enpointer </h1><hr>




<div class="row set">

<div class="col-md-4">

<h2>Product and Engineering</h2>

<p>Asana is simple yet powerful enough to track work across your company.</p>

</div>


<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

</div>

<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>


</div>


</div> <!-- set ends -->



<hr>


<div class="row set">

<div class="col-md-4">

<h2>Sales and Services</h2>

<p>Asana is simple yet powerful enough to track work across your company.</p>

</div>


<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

</div>

<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>


</div>


</div> <!-- set ends -->


<hr>



<div class="row set">

<div class="col-md-4">

<h2>Company-wide</h2>

<p>Asana is simple yet powerful enough to track work across your company.</p>

</div>


<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

</div>

<div class="col-md-4">

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>

<h3>Meeting agendas</h3>
<p>Use Asana to keep your meetings organized and actionable.</p>


</div>


</div> <!-- set ends -->



<br><br>








</div>


{% endblock %}